<Configuration>
	<General>
		<Setting name="SelectedTest" value="SimplyVBUnitTesting" type="String"/>
		<Setting name="Categories.Enabled" value="False" type="Boolean"/>
		<Setting name="Categories.ExcludeSelected" value="False" type="Boolean"/>
	</General>
	<Form>
		<Setting name="WindowState" value="0" type="Integer"/>
		<Setting name="Left" value="5610" type="Single"/>
		<Setting name="Top" value="4080" type="Single"/>
		<Setting name="Width" value="9570" type="Single"/>
		<Setting name="Height" value="6045" type="Single"/>
		<Setting name="SplitterPosition" value="3480" type="Long"/>
	</Form>
	<TreeViewExpanded>
		<Setting name="SimplyVBUnitTesting" value="True" type="Boolean"/>
		<Setting name="SimplyVBUnitTesting.modUtilTests" value="True" type="Boolean"/>
	</TreeViewExpanded>
	<Categories.Selected/>
</Configuration>
